notebook/data/cifar-100-python.tar.gz
notebook/deeplearningpy.ipynb
notebook/.ipynb_checkpoints/deeplearningpy-checkpoint.ipynb
notebook/data/cifar-100-python/train
notebook/data/cifar-100-python/test
notebook/data/cifar-100-python/meta
notebook/data/cifar-100-python/file.txt~
